/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Fundo preto translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background: #1e1e1e; /* Preto escuro */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  /* Close Button */
  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    color: #e50914; /* Vermelho */
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .close-button:hover {
    transform: scale(1.2);
    color: #b20710; /* Vermelho escuro */
  }
  
  /* Form Title */
  .modal-content h2 {
    color: white;
    margin-bottom: 20px;
  }
  
  /* Input Container */
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-container input {
    width: 100%;
    padding: 12px;
    padding-right: 40px; /* Espaço para o botão de senha */
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 4px;
    background: #333;
    color: white;
  }
  
  .input-container input:focus {
    outline: none;
    border-color: #e50914;
    box-shadow: 0 0 4px #e50914;
  }
  
  /* Tooltip */
  .tooltip {
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: #e50914;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Password Toggle */
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #e50914;
    font-size: 18px;
    cursor: pointer;
  }
  
  .toggle-password:hover {
    color: #b20710;
  }
  
  /* Buttons */
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .submit-button {
    flex: 1;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #b20710;
  }
  
  .close-modal-button {
    flex: 1;
    background: none;
    border: 1px solid #e50914;
    border-radius: 4px;
    padding: 12px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .close-modal-button:hover {
    background-color: rgba(229, 9, 20, 0.2);
  }
  