.footer {
    background-color:#141414; /* Fundo escuro */
    color: #fff; /* Texto branco */
    text-align: center; /* Centraliza o texto */
    /* padding: 10px 20px; Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    position: fixed; /* Fixado na parte inferior */
    bottom: 0; /* Alinhado na base */
    width: 100%; /* Ocupa toda a largura */
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  