.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  background-color: #007bff;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-image {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 60%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.add-video-button {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-video-button:hover {
  background-color: #218838;
}
