/* ===== Fundo Gradiente da Home ===== */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/public/img/imagem - 01.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
}

.background-gradient {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 100%;
  background-image: url("/public/img/BG-Fade.png");
  opacity: 1;
}

/* ===== Espaço antes do rodapé ===== */
.spacer {
  height: 300px;
  width: 100%;
}
