@import "swiper/css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas */
  gap: 20px; /* Espaçamento entre os vídeos */
  justify-content: center; /* Centraliza os vídeos horizontalmente */
  padding: 20px; /* Espaçamento interno */
}

.video-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}
@media (max-width: 768px) {
  .video-gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
  }
}

@media (max-width: 480px) {
  .video-gallery {
    grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
  }
}
